<div{{attributes}}>
	<input type="search" name="search" data-model="search" data-action="live#action" data-live-action-param="filter" placeholder="{{ searchFields|join(', ')}}">
	<table>
		<thead>
			<tr>
				{% for header in headers %}
					<th>{{ header }}
						<button class="outline" data-action="live#action" data-live-action-param="sort" data-live-direction-param="ASC" data-live-header-param="{{ header}}">
							{% if currentSort == header %}
								{% if currentDirection == 'ASC' %}
									<twig:ux:icon name="fa6-solid:sort-down" width="10"/>
								{% else %}
									<twig:ux:icon name="fa6-solid:sort-up" width="10"/>
								{% endif %}
							{% else %}
								<twig:ux:icon name="fa6-solid:sort" width="10"/>
							{% endif %}
						</button>
					</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for line in lines %}
				<tr>
					{% for header in headers %}
						<th>{{ attribute(line, header) }}</th>
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
{{ 'FR'|country_name('de') }}
</div>
